.playerCard {
    display: flex;
    height: 10rem;
    width: 90vw;
    flex-direction: row;
    z-index: 2;
    justify-self: center;
    border-radius: 0.3em;
    box-shadow: 5px 5px 8px darkslategray;
    margin: 1.5rem;
    margin-bottom: 3rem;
}

/* .playerCard:hover{
    transform: scale(1.2);
} */

.playerIcon {
    height: auto;
    width: auto;
    margin: 0.5rem;
    margin-top: 1rem;
    align-self: center;
}

.endorseIcon {
    height: auto;
    width: 7em;
    margin-left: auto;
    margin-right: 1rem;
    align-self: center;
}

.playerTag{
    color: lime;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-style: bold;
    letter-spacing: 0.07em;
    font-size: 3vw;
    align-self: center;
}

.roleRanks {
    align-self: center;
    margin-left: 10vw;
    display: flex;
    justify-content: space-evenly;
}

.rankIcon {
    height: 4.5vw;
    width: auto;
    margin: 0.3rem;
}

.roleIcon{
    height: 3vw;
    width: auto;
    margin: 0.3rem;
    margin-top: 1rem;
}

