.tabBox{
  box-shadow: 0 3px 3px 3px rgb(0, 0, 0, 0.4);
  background-color: rgba(203, 200, 200, 0.5);
  border-radius: 10px;
  padding: 20px;
  height: 75vh;
  width: 79vw;
  overflow-y: auto;
}

.tabContent{
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
    font-size: x-large;
}

.statsBox{
  display: flex;
  justify-content: flex-start;
  width: auto;
  gap: 5em;
}

.category{
  color: rgb(190, 100, 4);
}

.option{
  width: 5em;
}

.title{
  font-size: xxx-large;
  margin-bottom: 0.5em;
}

.statPanel {
  width: auto;
}

.accountBox {
  margin-left: auto;
    margin-right: 2em;
    margin-top: 5.6em;
    font-size: x-large;
}

