.removeMessage{
    border: 3px solid red;
    width: 15vw;
    padding: 0.3em;
    text-align: center;
    background-color: lightcoral;
    margin-left: 0.5em;
}

.accountsContainerRemove {
    background-color: rgba(203, 200, 200, 0.5);
    box-shadow: 0 3px 3px 3px rgb(0, 0, 0, 0.4);
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
    width: 65vw;
    margin-bottom: 2em;
    margin-top: 1em;
    border-radius: 4px;
    justify-self: flex-end;
    border: 2px solid red;
}